@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

* {
    font-family: 'DM Sans', sans-serif;
}

body {
    height: 100vh;
}

header img {
    height: 35px;
}

h1 {
    color: #D04F4F;
    font-weight: bold;
    font-size: 28px;
}

.container-fluid {
    width: 90%;
}
  
.form-control {
    background-color: #E7E7E7;
    font-size: 18px;
    height: 50px;
    width: 80%;
    color: black;
}

.form-control::placeholder {
    color: #a7a7a7;
    font-size: 18px;
}

.input-group-text{
    background-color: #E7E7E7;
}

#button-search {
    background-color: #E7E7E7;
    color: black;
}

.btn-outline-secondary:focus {
    box-shadow: none;
}

#searchBarInput:focus {
    background-color: #E7E7E7;
    box-shadow: none;
    border-color: transparent;
}

.tag-selected {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 13px;
    border: none;
    color: white;
    margin-bottom: 15px;
}

.tag-selected span {
    pointer-events: none;
}

.tag-input {
   height: 50px;
   font-size: 14px;
   background-color: #3282F7;
}

.tagInputContainer:focus {
    background-color: #3282F7;
    box-shadow: none;
    border-color: transparent;
}

.tag-input::placeholder {
    color: white;
    font-size: 14px;

}

.tagInputContainer {
    border-bottom-left-radius: 0;
    position: relative;
    width: 100%;
    height: 45px;
}

#tags-ingredients input, .ingredientsTags  {
    background-color: #3282F7;
    color: white;
}


#tags-appareils input {
    background-color: #68D9A4;
}

#btn-appareils-open .tagChoiceContainer  {
    background-color: #68D9A4;
    color: white;
}

#tags-ustensils input {
    background-color: #ED6454;
}

#btn-ustensils-open .tagChoiceContainer  {
    background-color: #ED6454;
    color: white;
}


.tagInputContainer input:focus {
    background-color: #3282F7;
    box-shadow: none;
    border-color: transparent;
    color: white;
}

.tagInputContainer input::placeholder {
    color: white;
}

.tagInputContainer i {
    position: absolute;
    top: 25px;
    right: 20px;
}

.fa-circle-xmark {
    margin-left: 5px;
}

#filters {
    display: flex;
    flex-direction: row;
}

.filter-close:hover, .tag-selected:hover {
    color: white;
}

.filter-close {
    position: relative;
    font-size: 14px;
    color: white;
    height: 60px;
    width: 135px;
    margin-right: 20px;
    padding: 13px;
    text-align: left;
}

.filter-close:nth-child(1) {
    background-color: #3282F7;
}

.filter-close:nth-child(3) {
    background-color: #68D9A4;
}

.filter-close:nth-child(5) {
    background-color: #ED6454;
}

.fa-chevron-down, .fa-chevron-up, .fa-regular {
    display: inline-block;
    width: 20px;
    height: 18px;
    color: white;
    cursor: pointer;
}

.fa-regular {
    pointer-events: none;
    width: 15px;
    transform: translateY(2px);
}

.fa-chevron-down {
    position: absolute;
    right: 10px;
    top: 21px;
    height: 20px;
    margin-left: 25px;
    pointer-events: none;
}

.close {
    display: none;
}

.time-section {
    font-size: 14px;
    font-weight: bold;
}

h2 {
    font-size: 15px;
}

.fa-clock {
    color: black
}

.card {
    height: 50vh;
    
}

.card-body {
    font-size: 12px;
}

.ingredient {
 font-weight: bold;
}

.cardContent {
    font-size: 10px;
}

.cardDescription {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    background:#fff;
    max-height: 105px;
}

.tagChoiceContainer {
    transform: translateY(-5px);
    left: 12px;
    width: 100%;
    position: relative;
    z-index: 1;
    padding: 10px;
}

.tag {
    text-align: left;
    font-size: 12px;
    color: white;
    pointer-events: all;
}

.tag span {
    text-align: left;
    font-size: 12px;
    color: white;
    cursor: pointer;
}

.filter-open {
    height: 60px;
    width: 45%;
    border-radius: 5px;
    margin-right: 20px;
}

#btn-ustensils-open {
    background-color: #ED6454;
}

#btn-appareils-open {
    background-color: #68D9A4;
}

#btn-ingredients-open {
    background-color: #3282F7;
}

.imgRecipe {
    object-fit: cover;
    height: 150px;
}

.inputTag {
    width: 85%;
}


.list-group-item span:nth-child(1) {
    font-weight: bold;
}


